$primary-color: #337ab7;
$body-background-color: green;
$border-color: green;
$color: #fff;
$primary-accent: royalblue;
$font-family: 'Amatic SC', cursive;
$border-radius: 8px;
$font-weight: 200;
$heading-font-size: 26px;

$menu-background-color: #33cc33;
$menu-background-hover-color: darken($menu-background-color, 10%);
$menu-item-font-size: 20px;

$sidebar-background-color: blue;
$member-list-img-width: 10%;
$member-list-padding-left: 10px;
$member-list-font-size: 20px;


$chat-message-block-height: 50vh;
$chat-message-block-margin: 5px; 
$chat-message-block-padding: 5px;

$chat-message-width: 50%;
$chat-message-sender-color: #efefef;
$chat-message-margin-left: 20px;
$chat-message-margin-top: 20px;
$chat-message-margin-bottom: 20px;
$chat-message-border-radius: 10px;
$chat-message-arrow-height: 10px;
$chat-message-arrow-left-position: 30px;

$chat-input-border-radius: 10px;
$chat-input-margin: 5px;
$chat-input-min-height: 50px;
$chat-input-padding-left: 5px;

$chat-send-button-color: orange;
$chat-send-button-color-hover: darken($chat-send-button-color, 4%);
$chat-send-button-min-height: 25px;
$chat-send-button-border-radius: 10px;
$chat-send-button-font-size: 18px;
$chat-send-button-font-color: #006600;

$ads-container-height: 90%;
$ads-container-width: 100%;

$breakpoint: 768px;

body {
	background-color: $body-background-color;
    font-family: $font-family;
}

h1, h2 {
  text-align: center;
}

h1 {
   border-bottom: 1px solid $border-color;
   padding: 10px;
}

ul, li {
    list-style-type: none;
	margin: 0;
	padding: 0;
}

footer {
    border-top: 1px solid $border-color;
    text-align: center;
}

.main-heading {
	font-size: 3rem;
	text-align: center;
	margin: 0;
	padding: 30px 0px;
}

.main-content {
    display: grid;
    grid-column-gap: 10px;
}

.heading {
	font-family: $font-family;
    font-size: $heading-font-size;
    border-bottom: 1px solid $border-color;
}

.layout-grid {
	display: grid;
	grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
	background: white;
	padding: 5px 5px;
	margin-top: 50px;
	border-radius: 30px 0 /30px 60px;
	box-shadow: 0px 1px 2px 1px darken($primary-color, 7);

    @media(min-width: $breakpoint) {
        grid-template-areas: 
            "header header header header"
            "side main main ad"
            "side main main ad"
            "side main main ad"
            "footer footer footer footer";

        .layout--header {
            grid-area: header;
        }

        .layout--main {
            grid-area: main;
        }

        .layout--sidebar {
            grid-area: side;
            background-color: invert($sidebar-background-color);
        }

        .layout--adbar {
            grid-area: ad;
            text-align: center;
            background-color: red;
            height: 100%;
        }

        .layout--footer {
            grid-area: footer;
        }
    }

    @media(max-width: 500px) {
        grid-template-areas: 
            "header"
            "side"
            "main"
            "footer";

        .layout--header {
            grid-area: header;
        }

        .layout--main {
            grid-area: main;
        }

        .layout--sidebar {
            grid-area: side;
            background-color: invert($sidebar-background-color);
        }

        .layout--adbar {
            grid-area: ad;
            text-align: center;
            background-color: red;
            height: 100%;
            
        }

        .layout--footer {
            grid-area: footer;
        }
    }
}

// Styling for horizontal navigation bar at the top
.menu-item {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $menu-background-color;
    }

    li {
      float: left;
      font-size: $menu-item-font-size;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: $menu-background-hover-color;
    }
}

// Member Bar Styling
.member-list {
    font-size: $member-list-font-size;
    padding-left: $member-list-padding-left;
    img {
        vertical-align: middle;
        width: $member-list-img-width;
    }
}

// Ad Bar Styling
.ads-container {
    display: table;
    text-align: center;
    vertical-align: middle;
    height: $ads-container-height;
    width: $ads-container-width;
}
.ad-item {
    display:table-cell;
    vertical-align:middle;
}

.message-block {
    margin: $chat-message-block-margin; 
    padding: $chat-message-block-padding;
    height: $chat-message-block-height; 
    overflow: auto; 
}

.message-text {
    background-color: $chat-message-sender-color;
    width: $chat-message-width;
    margin-left: $chat-message-margin-left;
    margin-top: $chat-message-margin-top;
    margin-bottom: $chat-message-margin-bottom;
    padding: 10px 20px;
    border-radius: $chat-message-border-radius;
    position: relative;
    z-index: 0;
    
    &:after {
        content: '';
        position: absolute;
        
        left: $chat-message-arrow-left-position;
        top: -$chat-message-arrow-height;
        border-top: none;
        border-right: $chat-message-arrow-height solid transparent;
        border-left: $chat-message-arrow-height solid transparent;
        border-bottom: $chat-message-arrow-height solid $chat-message-sender-color;
        z-index: -10;
    }

    img {
        vertical-align: middle;
        height: 25px;
        width: 25px;
    }
}

.chat-input {
    min-height: $chat-input-min-height;
    border-radius: $chat-input-border-radius;
    margin: $chat-input-margin;
    padding-left: $chat-input-padding-left;
}

.chat-send-button {
    min-height: $chat-send-button-min-height;
    background-color: $chat-send-button-color;
    border-radius: $chat-send-button-border-radius;
    font-family: $font-family;
    font-size: $chat-send-button-font-size;
    color: $chat-send-button-font-color;

    &:hover {
        background-color: $chat-send-button-color-hover;
    }
}